<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TitheDBEntities" connectionString="metadata=res://*/Contexts.TitheDbModel.csdl|res://*/Contexts.TitheDbModel.ssdl|res://*/Contexts.TitheDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PANY7-VISTA;Initial Catalog=TitheDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>